body {
  margin: 0;
}

.bg {
  background-color: #222831;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

/* Form styling */

body.modal-open div.bg {
  filter: blur(3px);
}

.form {
  position: relative;
}

.modal-content {
  height: auto;
}

.modal-body {
  padding: 40px 0 40px 0;
}

.modal-body h4 {
  text-align: center;
  font-weight: 600;
}

.modal-header {
  justify-content: left !important;
  font-family: "Montserrat";
  font-weight: bolder !important;
}

label {
  font-weight: bolder;
}

label span {
  color: red;
}

input {
  border-width: 2px !important;
  border-color: #00adb5 !important;
  box-shadow: 0 0 5px #00adb5;
}

button[type="submit"] {
  background-color: #222831;
  font-family: "Montserrat";
}

button[type="submit"]:hover {
  background-color: #222831;
  box-shadow: 0 0 15px #222831;
}

.modal-header img {
  width: 50px;
  margin-right: 20px;
}

h5 {
  font-weight: bold !important;
}

form {
  width: 85%;
  margin: auto;
  font-family: "Montserrat";
}

.was-validated input {
  border-color: red !important;
  box-shadow: 0 0 5px red;
}

/* Mobile bot styling */
@media only screen and (max-width: 1119px) {
  div.bg {
    height: 92.5vh !important;
  }

  .modal-content {
    height: auto;
  }

  .modal-body {
    padding: 35 0 35 0;
  }

  #chat-box {
    width: 95vw;
    height: 85vh;
    background-color: white;
    border-radius: 20px !important;
    border: 2px;
    border-color: #222831;
    box-shadow: 0 0 250px #00adb5;
    overflow: hidden;
  }

  /* All visible texts - Montserrat */
  .vfrc-message,
  .vfrc-assistant-info--title,
  .vfrc-assistant-info--description,
  .vfrc-chat,
  .vfrc-header--title,
  .vfrc-chat-input textarea:focus,
  .vfrc-chat-input textarea {
    font-family: "Montserrat";
  }

  .vfrc-chat-input {
    font-weight: bolder !important;
  }

  /* Chat BG */
  .vfrc-chat--dialog,
  .vfrc-footer {
    background-color: #eeeeee;
  }

  /* Asst info at the top */
  .vfrc-assistant-info {
    padding-bottom: 0;
  }

  .vfrc-assistant-info--title {
    position: absolute;
    visibility: hidden !important;
  }

  .vfrc-footer--watermark {
    /* position: absolute; */
    height: 0;
    visibility: hidden;
  }

  /* Description */
  .vfrc-assistant-info--description {
    color: #222831;
    font-size: small;
    /* width: 60%; */
  }

  /* Smol texts - date, timestamps */
  .vfrc-chat--session-time,
  .vfrc-timestamp {
    color: #222831;
    font-family: "Montserrat";
    visibility: hidden;
  }

  /* Bot messages */
  .vfrc-system-response--list .vfrc-message {
    background-color: #eeeeee;
    color: #222831;
    /* font-weight: bold; */
    /* box-shadow: 0 0 5px #222831; */
    padding-bottom: 0;
    padding-left: 10px;
  }

  /* User Message */
  .vfrc-user-response--row .vfrc-message {
    background-color: #222831;
    color: #eeeeee;
    box-shadow: 0 0 5px #222831;
    width: auto;
    padding-right: 14px;
  }

  /* All messages */
  .vfrc-message {
    font-size: 20;
    width: 80vw;
    padding-right: 10px;
  }

  /* Avatar with bot messages */
  .vfrc-system-response .vfrc-avatar {
    box-shadow: 0 0 10px #222831;
    width: 30px !important;
    height: 30px;
  }

  /* Text area */
  .vfrc-chat-input textarea {
    color: #222831;
    font-family: "Montserrat";
  }

  /* End chat button */
  .vfrc-button[label="End Chat"] {
    background-color: #222831;
  }
}

/* Desktop bot styling */
@media only screen and (min-width: 1120px) {
  #chat-box {
    width: 45vw;
    height: 95vh;
    background-color: white;
    border-radius: 20px !important;
    border: 2px;
    border-color: #222831;
    box-shadow: 0 0 250px #00adb5;
    overflow: hidden;
  }

  /* Chat BG */
  .vfrc-chat--dialog,
  .vfrc-footer {
    background-color: #eeeeee;
  }

  /* All texts */
  .vfrc-message,
  .vfrc-assistant-info--title,
  .vfrc-assistant-info--description,
  .vfrc-chat,
  .vfrc-header--title,
  .vfrc-chat-input textarea:focus,
  .vfrc-chat-input textarea {
    font-family: "Montserrat";
  }

  .vfrc-chat-input {
    font-weight: bolder !important;
  }

  /* Title */
  .vfrc-assistant-info--title {
    font-weight: 1000;
    position: absolute;
    visibility: hidden;
  }

  /* Description */
  .vfrc-assistant-info--description {
    color: #222831;
    font-weight: 500;
    width: 60%;
  }

  /* Asst info at the top */
  .vfrc-assistant-info {
    padding-bottom: 0;
  }

  /* Smol texts - date, timestamps */
  .vfrc-chat--session-time,
  .vfrc-timestamp {
    color: #222831;
    font-family: "Montserrat";
    visibility: hidden;
  }

  /* Avatar */
  .vfrc-avatar {
    box-shadow: 0 0 10px #222831;
  }

  /* Avatar next to message */
  .vfrc-system-response .vfrc-avatar {
    width: 50px;
    height: 50px;
  }

  .vfrc-footer--watermark {
    /* position: absolute; */
    height: 0;
    visibility: hidden;
  }

  /* Bot messages */
  .vfrc-system-response--list .vfrc-message {
    background-color: #eeeeee;
    color: #222831;
    font-weight: bold;
    font-size: 16px;
    /* box-shadow: 0 0 5px #222831; */
  }

  /* User Message */
  .vfrc-user-response--row .vfrc-message {
    background-color: #222831;
    color: #eeeeee;
    font-size: 16px;
    box-shadow: 0 0 5px #222831;
  }

  /* Send Button */
  .vfrc-chat-input label button {
    background-color: #222831;
  }

  /* Text area */
  .vfrc-chat-input textarea {
    color: #222831;
  }

  /* End chat button */
  .vfrc-button[label="End Chat"] {
    background-color: #222831;
  }
}
